
<ul>
<% hashes.each do |hash| %>
  <li> <%=hash["name"]%> </li>
    <%# recursively render %>
    <%= render(partial: "nested_items", locals: {hashes: hash[:sub_items]} ) if hash[:sub_items] %>
<% end %>
</ul>
